{% block body %}

<div class="d-flex justify-content-between">
<div>Total products: {{ productCount }} </div>
<div>
  <form class="w-100 me-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
</div>
<div>
<a class="btn btn-outline-light text-decoration-none" href="{{ path('app_product_add') }}">Add product</a>
</div>
</div>
<table class="table table-striped table-hover table-bordered table-sm border-success mt-5 p-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Producer</th>
      <th scope="col">Stock</th>
      <th scope="col">Netto Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
  {% if products|length > 0 %}
    <tr>
      <th scope="row"> {{ loop.index }} </th>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.producer.name }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.price }}</td>
      <td>Actions</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}