{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Edit Order{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_order') }}">Orders</a>&#8594; Edit Order</div>
{% endblock %}
{% block content %}

{{ form_start(form) }}
{{ form_label(form.user) }}
{{ form_widget(form.user) }}
    <h2>Order Items</h2>
  {% for orderItem in form.orderItems %}
{{ form_row(orderItem.quantity) }}
{{ form_row(orderItem.product) }}

{% endfor %}
    <button class="btn btn-success">Save</button>

{{ form_end(form) }}

{% endblock %}