{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Order{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_order') }}">Orders</a>&#8594; <a href="{{ path('app_order_edit', {id: order.id}) }}">Order</a></div>
{% endblock %}
{% block content %}

<div class="d-flex justify-content-end">
<div>
<a class="btn btn-outline-light text-decoration-none" href="{{ path('app_order_edit', {id: order.id}) }}">Edit order</a>
</div>
</div>
<div>
<div class="mt-5"><h3>Customer data</h3></div>
<table class="table table-striped table-hover table-bordered table-sm border-success p-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Value</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user.profile.companyName }}</td>
      <td>{{ order.user.profile.address }}</td>
      <td>{{ order.user.profile.phone }}</td>
      <td>{{ order.user.email }}</td>
      <td>{{ order.getValue() }}</td>
      <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
    </tr>
  </tbody>
</table>

<div class="mt-5"><h3>List of order items</h3></div>

<table class="table table-striped table-hover table-bordered table-sm border-success mt p-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Value</th>
      <th scope="col">Discounted Value</th>
    </tr>
  </thead>
  <tbody>
  {% for orderItem in order.orderItems %}
    <tr>
      <th scope="row"> {{ loop.index }} </th>
      <td>{{ orderItem.product.code }}</td>
      <td>{{ orderItem.product.name }}</td>
      <td>{{ orderItem.quantity }}</td>
      <td>{{ orderItem.product.price }}</td>
      <td>{{ orderItem.product.price * orderItem.quantity }}</td>
      {% set discountGroup = orderItem.product.discount %}
      {% if discountGroup %}
    {% set assignedDiscountValue = orderItem.purchase.user.getAssignedDiscountValue(discountGroup) %}
    {% if assignedDiscountValue is not null %}
        {% set discountValue = assignedDiscountValue.getValue() %}
        <td>{{ orderItem.product.price * orderItem.quantity * (100 - discountValue) / 100 }}</td>
    {% else %}
        <td>{{ orderItem.product.price * orderItem.quantity }}</td>
    {% endif %}
      {% else %}
          <td>{{ orderItem.product.price * orderItem.quantity }}</td>
    {% endif %}
</tr>
    {% endfor %}
    <tr>
    <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-info">{{ order.getValue() }}</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}